<h1>Welcome to our project</h1>
<h3>Trevor:</h3> <%= link_to nil, "https://github.com/tnodland", class:"git_link" %>
<h3>Teresa:</h3> <%= link_to nil, "https://github.com/teresa-m-knowles", class:"git_link" %>

<img src="https://www.milwaukieoregon.gov/sites/default/files/styles/gallery500/public/imageattachments/library/page/31111/milwaukie-sellwood_book-club2_2.jpg?itok=B1lMSfhh" alt="book club" class="welcome">
